.environment-title{
    color: darkgreen;
}
.card-body-padding {
    padding: 10px;
}
body .modal-dialog { /* Width */
    max-width: 100%;
    width: auto !important;
    display: inline-block;
}
.modal {
  z-index: -1;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.modal-open .modal {
   z-index: 1050;
}